<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

</head>
<body>
  <form id="main-form">
    <h1>Login</h1>
    <div class="form-block">
      <label for="nome">Nome</label>
      <app-input-text></app-input-text>
    </div>
    <div class="form-block">
      <label for="email">Email</label>
      <app-input-email></app-input-email>
    </div>
    <div class="form-block">
      <label for="senha">Senha</label>
      <app-input-password></app-input-password>
    </div>
    <div>
      <button type="submit" class="btn"> Entrar</button>
    </div>
  
  </form>
</body>